    *{
        margin: 0;
        padding: 0;
    }




    .grid-imag{
        width: 100%;
        align-items: center;
    }

    .imagem{
    width: 100%;
    float: left;

    }

    .imagem img {
        width: 100%; 
        float: left;
    }
    
    
    @media (min-width: 576px) {
        .imagem img {
            width: 25%; 
            float: left;
        }
    }
    


