
    body{
        font-family: Arial, Helvetica, sans-serif;
        background: #f2f2f2;
    }
    #container{
        width: 85%;
        margin: 0 auto;
        background: #eae7e7;
        min-width: 620px;
    }
    #marca{
        height: 300px;
        background: #225992 url(../fotos/cabecalho2.jpg) no-repeat center;
        text-align: center;
        line-height:300px;
    }
    #conteudo{
        width:74%;
        float:right;   
    }
    #conteudo-principal{  
        width: 63%;
        float: left;
        text-align: justify;
    }
    /* #imagem{
        width: 90%;
        overflow: hidden;
    } */
    img.img-noticia{
        width: 97%;
        padding: 2%;
        max-width: 600px;
    }
    #conteudo-secundario{
        width: 33%;
        float: right;
        text-align: justify;
        background: #aba8a8;
    }
    #conteudo-secundario h1,
    #conteudo-secundario h2,
    #conteudo-secundario h3,
    #conteudo-secundario p{
        padding-left: 20px;
        padding-right: 20px;
    }
    #navegacao{
        width: 19%;
        float:left;
        padding:20px;
        padding-bottom:20px;
        background:#d1d1d1;   
    }
    #navegacao ul{
        list-style: none;
    }
    #navegacao li a{
        text-decoration: none;
    }
    #navegacao h4{
        text-align: center;
        font-size: 1.2em;
    }
    #rodape{
        clear: both;
        background: #c4c4c4;
        padding: 5px;
    }



































